.container{
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 1fr;
}
.card{
    width: 600px;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    box-sizing: border-box;
    padding: 5px;
    margin: 50px;
    align-items: center;
    background-color: rgb(240, 247, 220);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto ;
    gap: 25px;
    grid-template-areas: "image header"
                         "image content";

}

.image-container .image{
    width:200px;
    height:180px; 
} 
.image-container{
    grid-area: image;
    width:200px;
    height:180px;
}
.title-div{
    grid-area: header;
    text-decoration: none; 
}
.content-container{
    grid-area: content;
    height: 150px;
}
.title{
    text-decoration: none;
    color:red;
    font-weight: bold;
}
.item{
    text-decoration: none;
    color: black;
    line-height: 1.2;
}
.item :hover{
    cursor: pointer;
    color: mintcream;
}