.artical-container{
    display: block;
    margin: 20px;
    padding: 10px;
    background-color: rgb(182, 211, 194);
}
h2{
    margin-bottom: 15px;
    color: red;
}
.item{
    padding: 6px;
    font-family: sans-serif;
    line-height: 1.4;
}