*{
    text-decoration: none;
    line-height: 1.6;
}
.artical-content{
    margin: 20px;
    padding: 10px;
    background-color: rgb(240, 247, 220);
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 5px;
}
.wrapper-element{
    padding: 10px;
    font-family: sans-serif;
}
.para{
    padding: 10px;
    text-decoration: none;
    color: black;
    
}
p{
    line-height: 1.2;
    color: black;
}
h3{
    color: red;
}
h4{
    color: black;
}
 